@model kaufer_comex.Models.Despacho

@{
	ViewData["Title"] = "Detalhes";
}



<div>
	<h3>Detalhes do Despacho: @Html.DisplayFor(model => model.Id)</h3>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.NumeroDue)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.NumeroDue)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DataDue)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DataDue)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DataExportacao)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DataExportacao)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.ConhecimentoEmbarque)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ConhecimentoEmbarque)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DataConhecimento)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DataConhecimento)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Tipo)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Tipo)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DataAverbacao)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DataAverbacao)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.CodPais)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.CodPais)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Parametrizacao)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Parametrizacao)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Processo)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Processo.CodProcessoExportacao)
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model?.Id" class="btn " style=" background-color: #F08433; color: #FFF; width: 100px">Editar</a> |
	<a asp-action="Index" class="btn btn-dark" style="width: 100px">Voltar</a>
</div>
