@model kaufer_comex.Models.ValorProcesso

@{
	ViewData["Title"] = "Delete";
}
<div>
	<h4>Você tem certeza que deseja excluir os Valores do Processo:  @Html.DisplayFor(model => model.Processo.CodProcessoExportacao)?</h4>
	<hr />
	<div class="card mb-3">
		<div class="card-header  d-flex justify-content-between">
			<span class="mt-1"><strong>VALORES DO PROCESSO :</strong></span>
			<div class="justify-content-sm-end d-flex m-0">
				<form asp-action="Delete">
					<input type="hidden" asp-for="Id" />
					<input type="submit" value="Excluir" class="btn " style=" background-color: #82323b; color: #FFF; width: 100px" />
					<a asp-action="Index" class="btn btn-dark" style="width: 100px">Voltar</a>
				</form>
			</div>
		</div>
		<dl class="card-body row">
			<div class="col-md-4">
				<dt>
					@Html.DisplayNameFor(model => model.ValorExw)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.ValorExw)
				</dd>
			</div>
			<div class="col-md-4">
				<dt>
					@Html.DisplayNameFor(model => model.ValorFobFca)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.ValorFobFca)
				</dd>
			</div>
			<div class="col-md-4">
				<dt>
					@Html.DisplayNameFor(model => model.FreteInternacional)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.FreteInternacional)
				</dd>
			</div>
			<div class="col-md-4">
				<dt>
					@Html.DisplayNameFor(model => model.SeguroInternaciona)
				<dt>
				<dd>
					@Html.DisplayFor(model => model.SeguroInternaciona)
				</dd>

			</div>
			<div class="col-md-4">
				<dt>
					@Html.DisplayNameFor(model => model.ValorTotalCif)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.ValorTotalCif)
				</dd>
			</div>
			<div class="col-md-4">
				<dt>
					@Html.DisplayNameFor(model => model.Moeda)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.Moeda)
				</dd>
			</div>
			<div class="col-md-4">
				<dt>
					@Html.DisplayNameFor(model => model.Processo)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.Processo.CodProcessoExportacao)
				</dd>
			</div>
		</dl>
	</div>
</div>