@model kaufer_comex.Models.Documento

@{
	ViewData["Title"] = "Excluir Documento";
}


<div>
	<h4>Você tem certeza que deseja excluir o Documento ?</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.CertificadoOrigem)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.CertificadoOrigem)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.CertificadoSeguro)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.CertificadoSeguro)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DataEnvioOrigem)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DataEnvioOrigem)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DataEnvioSeguro)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DataEnvioSeguro)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.TrackinCourier)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.TrackinCourier)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.ProcessoId)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Processo.CodProcessoExportacao)
		</dd>
	</dl>

	<form asp-action="Delete">
		<input type="hidden" asp-for="Id" />
		<input type="submit" value="Excluir" class="btn " style=" background-color: #82323b; color: #FFF; width: 100px" />
		<a asp-action="Index" class="btn btn-dark" style="width: 100px">Voltar</a>
	</form>
</div>