@model kaufer_comex.Models.Documento

@{
	ViewData["Title"] = "Excluir Documento";
}


<div>
	@if (TempData["MensagemErro"] != null)
	{
		<div class="alert alert-danger" role="alert" align="center">
			@TempData["MensagemErro"]
		</div>
	}
	<h4>Você tem certeza que deseja excluir o Documento ?</h4>
	<hr />
    <div class="card mb-3">
        <div class="card-header d-flex justify-content-between">
            <span class="mt-1"><strong>DOCUMENTOS </strong> </span>
            <div class="justify-content-sm-end d-flex m-0">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Excluir" class="btn " style=" background-color: #82323b; color: #FFF; width: 100px" />
                    <a asp-action="Details" asp-controller="Processos" asp-route-id="@Model.ProcessoId" class="btn btn-dark" style="width: 100px">Voltar</a>
                </form>
            </div>
        </div>
        <dl class="card-body row">
            <div class="col-md-4">
                <dt>
                    Certificado de Origem:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CertificadoOrigem)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    Certificado Seguro:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CertificadoSeguro)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    Data de Envio Origem:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DataEnvioOrigem)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    Tracking Courier:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TrackinCourier)
                </dd>
                <div class="col-md-4">
                    <dt>
                        Courier:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Courier)
                    </dd>
                </div>

        </dl>
    </div>
</div>