@model kaufer_comex.Models.Documento

@{
	ViewData["Title"] = "Detalhes do Documento";
}

<div>
	<br />
	<h3>Detalhes do Documento</h3>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.CertificadoOrigem)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.CertificadoOrigem)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.CertificadoSeguro)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.CertificadoSeguro)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DataEnvioOrigem)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DataEnvioOrigem)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DataEnvioSeguro)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DataEnvioSeguro)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.TrackinCourier)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.TrackinCourier)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.ProcessoId)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Processo.CodProcessoExportacao)
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model?.Id" class="btn " style=" background-color: #F08433; color: #FFF; width: 100px">Editar</a> |
	<a asp-action="Index" class="btn btn-dark" style="width: 100px">Voltar</a>
</div>
