@model IEnumerable<kaufer_comex.Models.Documento>

@{
	ViewData["Title"] = "Documentos";
}

@section Estilos {
	<style>
		.btn-exportar-excel {
			background-color: #198754 !important;
			color: white !important;
		}
	</style>

}


	<h1>Lista de documentos</h1>
	<div class="d-flex flex-row-reverse bd-highlight">
		<p>
		<a asp-action="Create" asp-route-id="@ViewContext.RouteData.Values["id"]"  class="btn d-flex flex-row-reverse bd-highlight " style=" background-color: #F08433; color: #FFF">Adicionar Documento</a>
		</p>
	</div>
<table id="myTable" class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.CertificadoOrigem)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.CertificadoSeguro)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.TrackinCourier)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.ProcessoId)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.CertificadoOrigem)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.CertificadoSeguro)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.TrackinCourier)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Processo.CodProcessoExportacao)
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@item.Id" class="btn"><img src="~/Images/editar.png" id="Edit" style="height:20px;"></a> |
						<a asp-action="Details" asp-route-id="@item.Id" class="btn"><img src="~/Images/detail.png" id="Details" style="height:20px; "></a> |
						<a asp-action="Delete" asp-route-id="@item.Id" class="btn"><img src="~/Images/excluir.png" id="Details" style="height:20px; "></a>
					</td>
				</tr>
			}
		</tbody>
	</table>

@section Scripts {
	<script>
		let table = new DataTable('#myTable',
			{
				language: {
					url: '//cdn.datatables.net/plug-ins/2.0.7/i18n/pt-BR.json',
				},
				buttons: [{
					extend: 'excelHtml5',
					text: '<i class="fa-solid fa-file-excel"></i>',
					filename: 'Documentos-Kaufer',
					title: '',
					exportOptions: {
						columns: [0, 1, 2, 3]
					},
					className: 'btn-exportar-excel',
				},
					'pageLength'
				],
				layout: {
					topStart: 'buttons'
				},
				ordering: false
			});
	</script>

}