@model IEnumerable<kaufer_comex.Models.Documento>

@{
	ViewData["Title"] = "Documentos";
}

	<h1>Lista de documentos</h1>
	<div class="d-flex flex-row-reverse bd-highlight">
		<p>
			<a asp-action="Create" class="btn d-flex flex-row-reverse bd-highlight " style=" background-color: #F08433; color: #FFF">Adicionar Documento</a>
		</p>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.CertificadoOrigem)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.CertificadoSeguro)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.TrackinCourier)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.ProcessoId)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.CertificadoOrigem)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.CertificadoSeguro)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.TrackinCourier)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Processo.CodProcessoExportacao)
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@item.Id" class="btn"><img src="~/Images/editar.png" id="Edit" style="height:20px;"></a> |
						<a asp-action="Details" asp-route-id="@item.Id" class="btn"><img src="~/Images/detail.png" id="Details" style="height:20px; "></a> |
						<a asp-action="Delete" asp-route-id="@item.Id" class="btn"><img src="~/Images/excluir.png" id="Details" style="height:20px; "></a>
					</td>
				</tr>
			}
		</tbody>
	</table>
