@model kaufer_comex.Models.Item

@{
	ViewData["Title"] = "Delete";
}

<div>
	<h4>Você tem certeza que deseja excluir o Item? </h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.CodigoProduto)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.CodigoProduto)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DescricaoProduto)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DescricaoProduto)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Familia)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Familia)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Largura)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Largura)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Comprimento)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Comprimento)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Espessura)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Espessura)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.AreaM2)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.AreaM2)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DiametroAltura)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DiametroAltura)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DiametroComprimento)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DiametroComprimento)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.LarguraAparente)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.LarguraAparente)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.VolumeM2)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.VolumeM2)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.PesoLiquido)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.PesoLiquido)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.PesoBruto)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.PesoBruto)
		</dd>
	</dl>

	<form asp-action="Delete">
		<input type="hidden" asp-for="Id" />
		<input type="submit" value="Excluir" class="btn " style=" background-color: #82323b; color: #FFF; width: 100px" />
		<a asp-action="Index" class="btn btn-dark" style="width: 100px">Voltar</a>
	</form>
</div>