@model kaufer_comex.Models.Item

@{
    ViewData["Title"] = "Detalhes do Item";
}
@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert" align="center">
        @TempData["MensagemErro"]
    </div>
}
<div class="card mb-3">
    <div class="card-header d-flex justify-content-between">
        <span class="mt-1"><strong>ITEM</strong> </span>
        <div class="justify-content-sm-end d-flex m-0">
            <a asp-action="Edit" asp-controller="Itens" asp-route-id="@Model.Id" class="btn" style=" background-color: #F08433; color: #FFF; margin-right: 10px">Editar</a>
            <a asp-action="Index" asp-controller="Itens" asp-route-id="@Model.Id" class="btn btn-outline-dark">Voltar</a>
        </div>
    </div>
    <dl class=" card-body row">
        <div class="col-md-4">
            <dt>
                @Html.DisplayNameFor(model => model.CodigoProduto)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CodigoProduto)
            </dd>
        </div>
        <div class="col-md-4">
            <dt>
                @Html.DisplayNameFor(model => model.DescricaoProduto)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DescricaoProduto)
            </dd>
        </div>
        <div class="col-md-4">
            <dt>
                @Html.DisplayNameFor(model => model.Familia)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Familia)
            </dd>
        </div>
        <div class="col-md-4">
            <dt>
                @Html.DisplayNameFor(model => model.Largura)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Largura)
            </dd>
        </div>
        <div class="col-md-4">
            <dt>
                @Html.DisplayNameFor(model => model.Comprimento)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Comprimento)
            </dd>
        </div>
        <div class="col-md-4">
            <dt>
                @Html.DisplayNameFor(model => model.Espessura)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Espessura)
            </dd>
        </div>
        <div class="col-md-4">
            <dt>
                @Html.DisplayNameFor(model => model.AreaM2)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AreaM2)
            </dd>
        </div>
        <div class="col-md-4">
            <dt>
                @Html.DisplayNameFor(model => model.DiametroAltura)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DiametroAltura)
            </dd>
        </div>
        <div class="col-md-4">
            <dt>
                @Html.DisplayNameFor(model => model.DiametroComprimento)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DiametroComprimento)
            </dd>
        </div>
        <div class="col-md-4">
            <dt>
                @Html.DisplayNameFor(model => model.LarguraAparente)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LarguraAparente)
            </dd>
        </div>
        <div class="col-md-4">
            <dt>
                @Html.DisplayNameFor(model => model.VolumeM2)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.VolumeM2)
            </dd>
        </div>
        <div class="col-md-4">
            <dt>
                @Html.DisplayNameFor(model => model.PesoLiquido)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PesoLiquido)
            </dd>
        </div>
        <div class="col-md-4">
            <dt>
                @Html.DisplayNameFor(model => model.PesoBruto)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PesoBruto)
            </dd>
        </div>
        <div class="col-md-4">
            <dt>
                @Html.DisplayNameFor(model => model.Preco)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Preco)
            </dd>
        </div>
    </dl>
</div>




