@model IEnumerable<kaufer_comex.Models.Item>

@{
	ViewData["Title"] = "Itens";
}

@section Estilos {
	<style>
		.btn-exportar-excel {
			background-color: #198754 !important;
			color: white !important;
		}
	</style>

}

<div class="container">
	<div class="form-group " align="center">
		<h2>Lista de Itens</h2>
	</div>
	<div class="d-flex flex-row-reverse bd-highlight">
		<p>
			<a asp-action="Create" class="btn d-flex flex-row-reverse bd-highlight " style=" background-color: #fd7e14; color: #FFF">Adicionar Item</a>
		</p>
	</div>
	<table id="myTable" class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.CodigoProduto)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.DescricaoProduto)
				</th>			
				<th>
					@Html.DisplayNameFor(model => model.Largura)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Comprimento)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.AreaM2)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.DiametroAltura)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.DiametroComprimento)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.VolumeM2)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.PesoBruto)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.CodigoProduto)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.DescricaoProduto)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Largura)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Comprimento)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.AreaM2)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.DiametroAltura)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.DiametroComprimento)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.VolumeM2)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.PesoBruto)
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@item.Id" class="btn"><img src="~/Images/editar.png" id="Edit" style="height:20px;"></a> |
						<a asp-action="Details" asp-route-id="@item.Id" class="btn"><img src="~/Images/detail.png" id="Details" style="height:20px; "></a> |
						<a asp-action="Delete" asp-route-id="@item.Id" class="btn"><img src="~/Images/excluir.png" id="Details" style="height:20px; "></a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

@section Scripts {
	<script>
		let table = new DataTable('#myTable',
			{
				language: {
					emptyTable: 'Nenhum registro encontrado',
					info: 'Mostrando de _START_ até _END_ de _TOTAL_ registros',
					infoEmpty: 'Mostrando 0 até 0 de 0 registro(s)',
					infoFiltered: '(Filtrados de _MAX_ registros)',
					zeroRecords: 'Nenhum registro encontrado',
					search: 'Pesquisar',
					buttons: {
						pageLength: {
							_: 'Mostrar %d registros'
						},
					},
				},
				buttons: [{
					extend: 'excelHtml5',
					text: '<i class="fa-solid fa-file-excel"></i>',
					filename: 'Itens-Kaufer',
					title: '',
					exportOptions: {
						columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
					},
					className: 'btn-exportar-excel',
				},
					'pageLength'
				],
				layout: {
					topStart: 'buttons'
				},
				ordering: false
			});
	</script>

}