@model kaufer_comex.Models.EmbarqueRodoviario

@{
	ViewData["Title"] = "Excluir Embarque";
}

<div>
	@if (TempData["MensagemErro"] != null)
	{
		<div class="alert alert-danger" role="alert" align="center">
			@TempData["MensagemErro"]
		</div>
	}
	<h4>Você tem certeza que deseja excluir o embarque?</h4>

	<hr />
    <div class="card mb-3">
        <div class="card-header d-flex justify-content-between">
            <span class="mt-1"><strong>EMBARQUE RODOVIÁRIO </strong> </span>
            <div class="justify-content-sm-end d-flex m-0">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Excluir" class="btn " style=" background-color: #82323b; color: #FFF; width: 100px" />
                    <a asp-action="Details" asp-controller="Processos" asp-route-id="@Model.ProcessoId" class="btn btn-dark" style="width: 100px">Voltar</a>
                </form>
            </div>
        </div>
        <dl class="card-body row">
            <div class="col-md-4">
                <dt>
                    Transportadora:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Transportadora)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    Data de embarque:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DataEmbarque)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    Transit time:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TransitTime)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    Data de chegada no destino:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ChegadaDestino)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    Agente de Carga:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.AgenteDeCarga.NomeAgenteCarga)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    Booking:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Booking)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    Deadline VGM:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DeadlineVgm)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    Deadline Carga:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DeadlineCarga)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    Deadline Draft:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DeadlineDraft)
                </dd>
            </div>
        </dl>
    </div>
</div>