@model kaufer_comex.Models.EmbarqueRodoviario

@{
	ViewData["Title"] = "Detalhes Embarque";
}

<div>
	<br />
	<h3>Detalhes do Embarque</h3>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Transportadora)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Transportadora)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DataEmbarque)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DataEmbarque)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.TransitTime)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.TransitTime)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.ChegadaDestino)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ChegadaDestino)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.AgenteDeCargaId)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.AgenteDeCarga.NomeAgenteCarga)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.ProcessoId)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Processo.CodProcessoExportacao)
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model?.Id" class="btn " style=" background-color: #F08433; color: #FFF; width: 100px">Editar</a> |
	<a asp-action="Index" class="btn btn-dark" style="width: 100px">Voltar</a>
</div>
