@model kaufer_comex.Models.EmbarqueRodoviario

@{
	ViewData["Title"] = "Detalhes Embarque";
}
@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert" align="center">
        @TempData["MensagemErro"]
    </div>
}
<div>
    <h3>Processo: @Html.DisplayFor(model => model.Processo.CodProcessoExportacao)</h3>
</div>
	<br />
    <div class="card mb-3">
        <div class="card-header d-flex justify-content-between">
            <span class="mt-1"><strong>EMBARQUE RODOVIÁRIO </strong> </span>
            <div class="justify-content-sm-end d-flex m-0">
                <a asp-action="Edit" asp-controller="EmbarqueRodoviarios" asp-route-id="@Model.Id" class="btn" style=" background-color: #F08433; color: #FFF; margin-right: 10px">Editar</a>
                <a asp-action="Index" asp-controller="EmbarqueRodoviarios" asp-route-id="@Model.Id" class="btn btn-outline-dark">Voltar</a>
            </div>
        </div>
        <dl class="card-body row">
            <div class="col-md-4">
                <dt>
                    Transportadora:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Transportadora)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    Data de embarque:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DataEmbarque)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    Transit time:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TransitTime)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    Data de chegada no destino:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ChegadaDestino)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    Agente de Carga:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.AgenteDeCarga.NomeAgenteCarga)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    Booking:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Booking)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    Deadline VGM:
                 </dt>
                <dd>
                    @Html.DisplayFor(model => model.DeadlineVgm)
                 </dd>
             </div>
        <div class="col-md-4">
            <dt>
                Deadline Carga:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DeadlineCarga)
            </dd>
        </div>
        <div class="col-md-4">
            <dt>
                Deadline Draft:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DeadlineDraft)
            </dd>
        </div>
        </dl>
    </div>
