@model IEnumerable<kaufer_comex.Models.EmbarqueRodoviario>

@{
	ViewData["Title"] = "Embarque Rodoviário";
}

@section Estilos {
	<style>
		.btn-exportar-excel {
			background-color: #198754 !important;
			color: white !important;
		}
	</style>

}

<h1>Lista de Embarques</h1>
<div class="d-flex flex-row-reverse bd-highlight">
	<p>
		<a asp-action="Create" class="btn d-flex flex-row-reverse bd-highlight " style=" background-color: #F08433; color: #FFF">Adicionar Embarque</a>
	</p>
</div>
<table id="myTable" class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Transportadora)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DataEmbarque)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TransitTime)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ChegadaDestino)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.AgenteDeCargaId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ProcessoId)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Transportadora)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DataEmbarque)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.TransitTime)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ChegadaDestino)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.AgenteDeCarga.NomeAgenteCarga)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Processo.CodProcessoExportacao)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id" class="btn"><img src="~/Images/editar.png" id="Edit" style="height:20px;"></a> |
					<a asp-action="Details" asp-route-id="@item.Id" class="btn"><img src="~/Images/detail.png" id="Details" style="height:20px; "></a> |
					<a asp-action="Delete" asp-route-id="@item.Id" class="btn"><img src="~/Images/excluir.png" id="Details" style="height:20px; "></a>
				</td>
			</tr>
		}
	</tbody>
</table>

@section Scripts {
	<script>
		let table = new DataTable('#myTable',
			{
				language: {
					url: '//cdn.datatables.net/plug-ins/2.0.6/i18n/pt-BR.json',
				},
				buttons: [{
					extend: 'excelHtml5',
					text: '<i class="fa-solid fa-file-excel"></i>',
					filename: 'Embarque Rodoviário-Kaufer',
					title: '',
					exportOptions: {
						columns: [0, 1, 2, 3, 4, 5]
					},
					className: 'btn-exportar-excel',
				},
					'pageLength'
				],
				layout: {
					topStart: 'buttons'
				},
				ordering: false
			});
	</script>

}