@model kaufer_comex.Models.NovaNotaView

@{
    ViewData["Title"] = "Cadastrar Nota";
}

<div class="container">
    <br />
    <div class="form-group" align="center">
        <h4>Cadastrar Nota</h4>
    </div>
    <hr />
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="NumeroNf" class="control-label"></label>
                <input asp-for="NumeroNf" class="form-control" />
                <span asp-validation-for="NumeroNf" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Emissao" class="control-label"></label>
                <input asp-for="Emissao" class="form-control" />
                <span asp-validation-for="Emissao" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="BaseNota" class="control-label"></label>
                <input asp-for="BaseNota" class="form-control" />
                <span asp-validation-for="BaseNota" class="text-danger"></span>
            </div>
            </div>
                <br />
         <div class="card">
             <div class="card-header">Valor Total da Nota</div>
             <div class="card-body row">
                 
                        <div class="form-group col-md-4">
                            <label asp-for="ValorFob" class="control-label"></label>
                            <input asp-for="ValorFob" class="form-control" />
                            <span asp-validation-for="ValorFob" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="ValorFrete" class="control-label"></label>
                            <input asp-for="ValorFrete" class="form-control" />
                            <span asp-validation-for="ValorFrete" class="text-danger"></span>
                        </div>
                        
                        
                        <div class="form-group col-md-4">
                            <label asp-for="ValorSeguro" class="control-label"></label>
                            <input asp-for="ValorSeguro" class="form-control" />
                            <span asp-validation-for="ValorSeguro" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="ValorCif" class="control-label"></label>
                            <input asp-for="ValorCif" class="form-control" />
                            <span asp-validation-for="ValorCif" class="text-danger"></span>
                        </div>
                        
                        
                        <div class="form-group col-md-4">
                            <label asp-for="TaxaCambial" class="control-label"></label>
                            <input asp-for="TaxaCambial" class="form-control" />
                            <span asp-validation-for="TaxaCambial" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="ValorTotalNota" class="control-label"></label>
                            <input asp-for="ValorTotalNota" class="form-control" />
                            <span asp-validation-for="ValorTotalNota" class="text-danger"></span>
                        </div>
                 
             </div>

         </div>

         <br />

         <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="PesoLiq" class="control-label"></label>
                <input asp-for="PesoLiq" class="form-control" />
                <span asp-validation-for="PesoLiq" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="PesoBruto" class="control-label"></label>
                <input asp-for="PesoBruto" class="form-control" />
                <span asp-validation-for="PesoBruto" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="CertificadoQualidade" class="control-label"></label>
                <input asp-for="CertificadoQualidade" class="form-control" />
                <span asp-validation-for="CertificadoQualidade" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="EmbarqueRodoviarioId" class="control-label"></label>
                <select asp-for="EmbarqueRodoviarioId" class="form-control" asp-items="ViewBag.EmbarqueRodoviarioId"></select>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="VeiculoId" class="control-label"></label>
                <select asp-for="VeiculoId" class="form-control" asp-items="ViewBag.VeiculoId"></select>
            </div>           
            <div class="form-group col-md-4">
                <label asp-for="QuantidadeTotal" class="control-label"></label>
                <input asp-for="QuantidadeTotal" class="form-control" />
                <span asp-validation-for="QuantidadeTotal" class="text-danger"></span>
            </div>
            
              
                <input asp-for="ValorTotal" class="form-control" />

                
            
            <div class="form-group col-md-4">
                <a onclick="AdicionaItem" asp-action="AdicionaItem" class="btn btn-outline-secondary dialog-window" style=" margin-top: 23px">Adicionar Item</a>
            </div>
        </div>
        <div class="form-group " align="center">
            <br />
            <input type="submit" value="Cadastrar" class="btn " style=" background-color: #fd7e14; color: #FFF; width: 100px" />
            <a asp-action="Index" class="btn btn-dark" style="width: 100px">Voltar</a>
        </div>
    </form>
</div>





<div class="form-group" style="margin-top: 20px">
    <hr />
    <h5>Itens adicionados</h5>
</div>

@if (Model.NotaItemTemps.Count == 0)
{
    <h6>Nenhum item adicionado.</h6>
}
else
{
    <table id="myTable" class="table">
        <thead>
            <tr>
                <th>
                    Código do item
                </th>
                <th>
                    Nome do item
                </th>
                <th>
                    Valor
                </th>
                <th>
                    Quantidade
                </th>
                <th>
                    Total
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.NotaItemTemps)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Preco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        <a asp-controller="Notas" asp-action="ExcluirItem" asp-route-id="@item.ItemId" class="btn"><img src="~/Images/excluir.png" id="Details" style="height:20px; "></a>
                    </td>

                </tr>
            }
            <tr>
                <td colspan="3" >
                    <strong>Total:</strong>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.QuantidadeTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.ValorTotal)
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
}
 

<div class="modal fade" id="AdicionaItem" tabindex="-1" aria-labelledby="AdicionaItemLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
        </div>
   </div>
</div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
        <script>
            $(document).ready(function () {
                $('#ValorFob, #ValorFrete, #ValorSeguro').on('input', function () {
                    var valorFob = parseFloat($('#ValorFob').val()) || 0;
                    var valorFrete = parseFloat($('#ValorFrete').val()) || 0;
                    var valorSeguro = parseFloat($('#ValorSeguro').val()) || 0;

                    var valorCif = valorFob + valorFrete + valorSeguro;
                    $('#ValorCif').val(valorCif.toFixed());
                });
            });

        $(document).ready(function () {
            $('#ValorCif, #TaxaCambial, #ValorTotal').on('input', function () {
                var valorCif = parseFloat($('#ValorCif').val()) || 0;
                var taxaCambial = parseFloat($('#TaxaCambial').val()) || 0;
                var valorTotal = parseFloat($('#ValorTotal').val()) || 0;

                var valorTotalNota = valorCif + taxaCambial + valorTotal;
                $('#ValorTotalNota').val(valorTotalNota.toFixed());
            });
        });

        $('#ValorTotal').hide();


            $(document).ready(function () {
                $("body").on("click", "a.dialog-window", function (e) {
                    e.preventDefault();
                    var $link = $(this);
                    var title = $link.text();
                    $('#AdicionaItemLabel').html(title); 
                    var url = $(this).attr('href');
                    if (url.indexOf('#') == 0) {
                        $('#AdicionaItem').modal('show');
                    } else {
                        $.get(url, function (data) {
                            $('#AdicionaItem .modal-body').html(data); 
                            $('#AdicionaItem').modal('show');
                        }).success(function () { $('input:text:visible:first').focus(); });
                    }
                });
            });

        </script>
    }
