@model kaufer_comex.Models.Nota

@{
    ViewData["Title"] = "Details";
}

<br />
<h3> Detalhes da Nota : @Html.DisplayFor(model => model.NumeroNf)</h3>
<hr />

<div>
    <div class="card mb-3">
        <div class="card-header d-flex justify-content-between">
            <span class="mt-1">Nota Fiscal: </span>
        </div>
        <dl class="card-body row">
            <div class="col-md-4">
                <dt>
                    Número NF:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NumeroNf)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    Data de emissão:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Emissao)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    Base Nota
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.BaseNota)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    Valor FOB
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ValorFob)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    Valor Frete
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ValorFrete)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    Valor Seguro
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ValorSeguro)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    Valor CIF
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ValorCif)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    Peso Líquido:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PesoLiq)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    Peso Bruto
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PesoBruto)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    Taxa Cambial
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TaxaCambial)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    Certificado de Qualidade
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CertificadoQualidade)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    Veículo
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Veiculo.Motorista)
                </dd>
            </div>

            <div class="col-md-4">
                <dt>
                    Valor Total
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ValorTotalNota)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    Embarque Rodoviário:
                </dt>
                <dd>
                    @ViewBag.EmbarqueId
                </dd>
            </div>
        </dl>
    </div>
    </div>
<h3>Itens da Nota</h3>
<table class="table">
    <thead>
        <tr>
            <th>Item</th>
            <th>Quantidade</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.NotaItem)
        {
            <tr>
                <td>@item.Item.DescricaoProduto</td>
                <td>@item.Quantidade</td>
                <td>@item.Valor</td>
            </tr>
        }
    </tbody>
</table>
<div class="form-group" align="center">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn " style=" background-color: #fd7e14; color: #FFF; width: 100px">Editar</a> |
    <a asp-action="Details" asp-controller="Processos" asp-route-id="@ViewBag.ProcessoId" class="btn btn-dark" style="width: 100px">Voltar</a>
</div>
