@model kaufer_comex.Models.Nota

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert" align="center">
            @TempData["MensagemErro"]
        </div>
    }
    <br />
    <div class="form-group " align="center">
        <h4>Editar Nota</h4>
    </div>
    <hr />
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="EmbarqueRodoviarioId" />
        <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="NumeroNf" class="control-label"></label>
                <input asp-for="NumeroNf" class="form-control" />
                <span asp-validation-for="NumeroNf" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Emissao" class="control-label"></label>
                <input asp-for="Emissao" class="form-control" />
                <span asp-validation-for="Emissao" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="BaseNota" class="control-label"></label>
                <input asp-for="BaseNota" class="form-control" />
                <span asp-validation-for="BaseNota" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-header">Valor Total da Nota</div>
            <div class="card-body row">
                <div class="form-group col-md-4">
                    <label asp-for="ValorFob" class="control-label"></label>
                    <input asp-for="ValorFob" class="form-control" />
                    <span asp-validation-for="ValorFob" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="ValorFrete" class="control-label"></label>
                    <input asp-for="ValorFrete" class="form-control" />
                    <span asp-validation-for="ValorFrete" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="ValorSeguro" class="control-label"></label>
                    <input asp-for="ValorSeguro" class="form-control" />
                    <span asp-validation-for="ValorSeguro" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="ValorCif" class="control-label"></label>
                    <input asp-for="ValorCif" class="form-control" />
                    <span asp-validation-for="ValorCif" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="TaxaCambial" class="control-label"></label>
                    <input asp-for="TaxaCambial" class="form-control" />
                    <span asp-validation-for="TaxaCambial" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="ValorTotalNota" class="control-label"></label>
                    <input asp-for="ValorTotalNota" class="form-control" />
                    <span asp-validation-for="ValorTotalNota" class="text-danger"></span>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="PesoLiq" class="control-label"></label>
                <input asp-for="PesoLiq" class="form-control" />
                <span asp-validation-for="PesoLiq" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="PesoBruto" class="control-label"></label>
                <input asp-for="PesoBruto" class="form-control" />
                <span asp-validation-for="PesoBruto" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="CertificadoQualidade" class="control-label"></label>
                <input asp-for="CertificadoQualidade" class="form-control" />
                <span asp-validation-for="CertificadoQualidade" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="VeiculoId" class="control-label"></label>
                <select asp-for="VeiculoId" class="form-control" asp-items="ViewBag.VeiculoId">
                    <option value="">Selecione o motorista</option>
                </select>
                <span asp-validation-for="VeiculoId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="QuantidadeTotal" class="control-label"></label>
                <input asp-for="QuantidadeTotal" class="form-control"  />
                <span asp-validation-for="QuantidadeTotal" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <a onclick="AdicionaItemNota" asp-action="AdicionaItemNota" asp-route-id="@Model.Id" class="btn btn-outline-secondary dialog-window" style="margin-top: 23px">Adicionar Item</a>
            </div>
        </div>
        <div class="form-group " align="center">
            <br />
            <input type="submit" value="Editar" class="btn" style="background-color: #fd7e14; color: #FFF; width: 100px" />
            <a asp-action="Details" asp-controller="Processos" asp-route-id="@ViewBag.ProcessoId" class="btn btn-dark" style="width: 100px">Voltar</a>
        </div>
    </form>
</div>

<div class="form-group" style="margin-top: 20px">
    <hr />
    <h5>Itens da Nota</h5>
</div>
<table id="myTable" class="table">
    <thead>
        <tr>
            <th>Código do item</th>
            <th>Nome do item</th>
            <th>Valor</th>
            <th>Quantidade</th>
            <th>Total</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.NotaItem)
        {
            <tr data-item-id="@item.ItemId" data-nota-id="@item.NotaId">
                <td>@Html.DisplayFor(modelItem => item.ItemId)</td>
                <td>@Html.DisplayFor(modelItem => item.Item.DescricaoProduto)</td>
                <td>@Html.DisplayFor(modelItem => item.Item.Preco)</td>
                <td>@Html.DisplayFor(modelItem => item.Quantidade)</td>
                <td>@Html.DisplayFor(modelItem => item.Valor)</td>
                <td><a href="javascript:void(0);" data-url="@Url.Action("EditItem", new { id = item.ItemId })" class="btn btn-primary btn-sm open-modal">Editar</a></td>
                <td><button type="button" class="btn btn-danger btn-excluir-item">Excluir</button></td>
            </tr>
        }
        <tr>
            <td colspan="3"><strong>Volume Total:</strong></td>
            <td>@Html.DisplayFor(modelItem => Model.QuantidadeTotal)</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

<div class="modal fade" id="AdicionaItemNota" tabindex="-1" aria-labelledby="AdicionaItemNotaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editItemModal" tabindex="-1" aria-labelledby="editItemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editItemModalLabel">Editar Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="modalContent"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {


    <script>
        window.onload = function () {
            var firstInput = document.querySelector("input");
            if (firstInput) {
                firstInput.focus();
            }
        };
    </script>

    <script>
        $(document).ready(function () {
            $('#ValorFob, #ValorFrete, #ValorSeguro').on('input', function () {
                var valorFob = parseFloat($('#ValorFob').val()) || 0;
                var valorFrete = parseFloat($('#ValorFrete').val()) || 0;
                var valorSeguro = parseFloat($('#ValorSeguro').val()) || 0;

                var valorCif = valorFob + valorFrete + valorSeguro;
                $('#ValorCif').val(valorCif.toFixed(2));
            });

            $("body").on("click", "a.dialog-window", function (e) {
                e.preventDefault();
                var $link = $(this);
                var title = $link.text();
                $('#AdicionaItemNotaLabel').html(title);
                var url = $(this).attr('href');
                if (url.indexOf('#') == 0) {
                    $('#AdicionaItemNota').modal('show');
                } else {
                    $.get(url, function (data) {
                        $('#AdicionaItemNota .modal-body').html(data);
                        $('#AdicionaItemNota').modal('show');
                    }).success(function () { $('input:text:visible:first').focus(); });
                }
            });

            $(document).on('click', '.btn-excluir-item', function () {
                var row = $(this).closest('tr');
                var itemId = row.data('item-id');
                var notaId = row.data('nota-id');

                console.log("Dados a serem enviados:", { itemId: itemId, notaId: notaId });

                if (confirm('Tem certeza de que deseja excluir este item?')) {
                    $.ajax({
                        url: '@Url.Action("ExcluirItemNota", "Notas")',
                        type: 'POST',
                        data: JSON.stringify({ idNota: notaId, idItem: itemId }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            if (response.success) {
                                row.remove();
                            } else {
                                alert(response.errors.join(", "));
                            }
                        },
                        error: function (xhr, status, error) {
                            alert("Erro ao excluir o item.");
                            console.error(error);
                        }
                    });
                }
            });

            $('.open-modal').click(function () {
                var url = $(this).data('url');
                $('#modalContent').load(url, function () {
                    $('#editItemModal').modal('show');
                });
            });
        });
    </script>
}
