@model kaufer_comex.Models.Destino

@{
    ViewData["Title"] = "Detalhes";
}



<div>
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert" align="center">
            @TempData["MensagemErro"]
        </div>
    }
    <br />
   
    <div class="card mb-3">
        <div class="card-header d-flex justify-content-between">
            <span class="mt-1"><strong>DESTINO</strong> </span>
            <div class="justify-content-sm-end d-flex m-0">
                <a asp-action="Edit" asp-controller="Destinos" asp-route-id="@Model.Id" class="btn" style=" background-color: #F08433; color: #FFF; margin-right: 10px">Editar</a>
                <a asp-action="Index" asp-controller="Destinos" asp-route-id="@Model.Id" class="btn btn-outline-dark">Voltar</a>
            </div>
        </div>
        <dl class="card-body row">
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.NomePais)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NomePais)
                </dd>
            </div>
        </dl>
    </div>
</div>

