@model IEnumerable<kaufer_comex.Models.Usuario>

@{
	ViewData["Title"] = "Index";
	var isAdmin = User.IsInRole("Admin");
}
<div class="container">
	<div class="form-group " align="center">
		<h2>Controle de Usuário</h2>
	</div>
	<div class="d-flex flex-row-reverse bd-highlight">
		@if (isAdmin)
		{
			<p>
				<a asp-action="Create" class="btn d-flex flex-row-reverse bd-highlight " style=" background-color: #fd7e14; color: #FFF">Adicionar Usuário</a>
			</p>
		}
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.NomeFuncionario)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Email)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.CPF)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Perfil)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.NomeFuncionario)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Email)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.CPF)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Perfil)
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@item.Id" class="btn"><img src="~/Images/editar.png" id="Edit" style="height:20px;"></a> |
						<a asp-action="Details" asp-route-id="@item.Id" class="btn"><img src="~/Images/detail.png" id="Details" style="height:20px; "></a> |
						@if (User.IsInRole("Admin"))
						{
							<a asp-action="Delete" asp-route-id="@item.Id" class="btn"><img src="~/Images/excluir.png" id="Details" style="height:20px; "></a>
						}
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
