@model kaufer_comex.Models.Processo

@{
    ViewData["Title"] = "Excluir";
}



<div>
    <h4>Você tem certeza que deseja excluir o processo:  @Html.DisplayFor(model => model.CodProcessoExportacao) ?</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodProcessoExportacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodProcessoExportacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExportadorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExportadorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImportadorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImportadorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Incoterm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Incoterm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destino.NomePais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgenteDeCarga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgenteDeCarga.NomeAgenteCarga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fronteira)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fronteira.NomeFronteira)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Despachante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Despachante.NomeDespachante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vendedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vendedor.NomeVendedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.StatusAtual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Proforma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Proforma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicioProcesso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicioProcesso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrevisaoProducao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrevisaoProducao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrevisaoPagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrevisaoPagamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrevisaoColeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrevisaoColeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrevisaoCruze)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrevisaoCruze)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrevisaoEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrevisaoEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PedidosRelacionados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PedidosRelacionados)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn " style=" background-color: #fd7e14; color: #FFF; width: 100px" />
        <a asp-action="Index" class="btn btn-dark" style="width: 100px">Voltar</a>
    </form>
</div>
