@model kaufer_comex.Models.Processo

@{
    ViewData["Title"] = "Excluir";
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert" align="center">
        @TempData["MensagemErro"]
    </div>
}

<div>
    <h4>Você tem certeza que deseja excluir o processo:  @Html.DisplayFor(model => model.CodProcessoExportacao) ?</h4>
    <hr />
    <div class="card mb-3">
        <div class="card-header  d-flex justify-content-between">
            <span class="mt-1"><strong>Processo:</strong></span>
            <div class="justify-content-sm-end d-flex m-0">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Excluir" class="btn " style=" background-color: #82323b; color: #FFF; width: 100px" />
                    <a asp-action="Index" class="btn btn-dark" style="width: 100px">Voltar</a>
                </form>
            </div>
        </div>
        <dl class="card-body row">
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.CodProcessoExportacao)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CodProcessoExportacao)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Usuario)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Usuario.NomeFuncionario)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Modal)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Modal)
                </dd>
            </div>

            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.ImportadorId)
                </dt>
                <dd>
                    @ViewBag.importador
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.ExportadorId)
                </dt>
                <dd>
                    @ViewBag.exportador
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Incoterm)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Incoterm)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Destino)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Destino.NomePais)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Fronteira)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Fronteira.NomeFronteira)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Despachante)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Despachante.NomeDespachante)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Vendedor)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Vendedor.NomeVendedor)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Status.StatusAtual)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Proforma)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Proforma)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.DataInicioProcesso)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DataInicioProcesso)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.PrevisaoProducao)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PrevisaoProducao)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.PrevisaoPagamento)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PrevisaoPagamento)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.PrevisaoColeta)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PrevisaoColeta)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.PrevisaoCruze)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PrevisaoCruze)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.PrevisaoEntrega)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PrevisaoEntrega)
                </dd>
            </div>
            <div class="col-md-10">
                <dt>
                    @Html.DisplayNameFor(model => model.Observacoes)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Observacoes)
                </dd>
            </div>
            <div class="col-md-10">
                <dt>
                    @Html.DisplayNameFor(model => model.PedidosRelacionados)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PedidosRelacionados)
                </dd>
            </div>
        </dl>
    </div>
</div>
