@model kaufer_comex.Models.DetalhesProcessoView

@{
    ViewData["Title"] = "Detalhes";
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert" align="center">
        @TempData["MensagemErro"]
    </div>
}

<div>
    <br />
    <h4>Detalhes do Processo</h4>
    <hr />
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a asp-controller="DCEs" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-outline-dark mb-2" style="width: 110px"> DCE</a>
    <a asp-controller="Despachos" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-outline-dark mb-2" style="width: 110px">Despacho</a>
    <a asp-controller="Documentos" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-outline-dark mb-2" style="width: 110px">Documento</a>
    <a asp-controller="Valores" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-outline-dark mb-2" style="width: 110px">Valores</a>
    </div>
    <div class="card mb-3">
        <div class="card-header">Processo:</div>
        <dl class="card-body row">
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.CodProcessoExportacao)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CodProcessoExportacao)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.UsuarioId)
                </dt>
                <dd>
                    @ViewBag.responsavel
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Modal)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Modal)
                </dd>
            </div>

            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.ImportadorId)
                </dt>
                <dd>
                    @ViewBag.importador
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.ExportadorId)
                </dt>
                <dd>
                    @ViewBag.exportador
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Incoterm)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Incoterm)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Destino)
                </dt>
                <dd>
                    @ViewBag.destino
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Fronteira)
                </dt>
                <dd>
                    @ViewBag.fronteira
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Despachante)
                </dt>
                <dd>
                    @ViewBag.despachante
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Vendedor)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Vendedor.NomeVendedor)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Status.StatusAtual)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Proforma)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Proforma)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.DataInicioProcesso)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DataInicioProcesso)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.PrevisaoProducao)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PrevisaoProducao)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.PrevisaoPagamento)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PrevisaoPagamento)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.PrevisaoColeta)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PrevisaoColeta)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.PrevisaoCruze)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PrevisaoCruze)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.PrevisaoEntrega)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PrevisaoEntrega)
                </dd>
            </div>
            <div class="col-md-10">
                <dt>
                    @Html.DisplayNameFor(model => model.Observacoes)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Observacoes)
                </dd>
            </div>
            <div class="col-md-10">
                <dt>
                    @Html.DisplayNameFor(model => model.PedidosRelacionados)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PedidosRelacionados)
                </dd>
            </div>
        </dl>
    </div>
    @if (Model.Despachos.Count > 0)
    {
        @foreach (var item in Model.Despachos)
        {
            <div class="card mb-3">
                <div class="card-header"> Despacho: <strong>@item.Id</strong></div>
                <dl class="card-body row">
                    <div class="col-md-4">
                        <dt>
                            Número DUE:
                        </dt>
                        <dd>
                            @item.NumeroDue
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            Data DUE:
                        </dt>
                        <dd>
                            @item.DataDue
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            Data Exportação:
                        </dt>
                        <dd>
                            @item.DataExportacao
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            Conhecimento Embarque:
                        </dt>
                        <dd>
                            @item.ConhecimentoEmbarque
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            Data de Conhecimento:
                        </dt>
                        <dd>
                            @item.DataConhecimento
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            Data da Averbação:
                        </dt>
                        <dd>
                            @item.DataAverbacao
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            Código do país:
                        </dt>
                        <dd>
                            @item.CodPais
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            Parametrização:
                        </dt>
                        <dd>
                            @item.Parametrizacao
                        </dd>
                    </div>
                   
                </dl>
            </div>
        }

    }
    @if (Model.Documentos.Count > 0)
    {
        @foreach (var item in Model.Documentos)
        {
            <div class="card mb-3">
                <div class="card-header"> Documento: <strong>@item.Id</strong></div>
                <dl class="card-body row">
                    <div class="col-md-4">
                        <dt>
                            Certificado de Origem:
                        </dt>
                        <dd>
                            @item.CertificadoOrigem
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            Certificado Seguro:
                        </dt>
                        <dd>
                            @item.CertificadoSeguro
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            Data de Envio Origem:
                        </dt>
                        <dd>
                            @item.DataEnvioOrigem
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            Data envio de Seguro:
                        </dt>
                        <dd>
                            @item.DataEnvioSeguro
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            Tracking Courier:
                        </dt>
                        <dd>
                            @item.TrackinCourier
                        </dd>
                    </div>
                
                </dl>
            </div>
        }

    }
    @if (Model.EmbarquesRodoviarios.Count > 0)
    {
        @foreach (var item in Model.EmbarquesRodoviarios)
        {
            <div class="card mb-3">
                <div class="card-header"> Embarque Rodoviário: <strong>@item.Id</strong></div>
                <dl class="card-body row">
                    <div class="col-md-4">
                        <dt>
                            Transportadora:
                        </dt>
                        <dd>
                            @item.Transportadora
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            Data de embarque:
                        </dt>
                        <dd>
                            @item.DataEmbarque
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            Transit time:
                        </dt>
                        <dd>
                            @item.TransitTime
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            Data de chegada no destino:
                        </dt>
                        <dd>
                            @item.ChegadaDestino
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            Agente de Carga:
                        </dt>
                        <dd>
                            @ViewBag.agenteDeCarga
                        </dd>
                    </div>
               

                </dl>
            </div>
        }

    }

    @if (Model.ValorProcessos.Count > 0)
    {
        @foreach (var item in Model.ValorProcessos)
        {
            <div class="card mb-3">
                <div class="card-header"> Valores de Processo: <strong>@item.Id</strong></div>
                <dl class="card-body row">
                    <div class="col-md-4">
                        <dt>
                            Moeda:
                        </dt>
                        <dd>
                            @item.Moeda
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            Valor EXW:
                        </dt>
                        <dd>
                            @item.ValorExw
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            Valor FOB:
                        </dt>
                        <dd>
                            @item.ValorFobFca
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            Valor do frete:
                        </dt>
                        <dd>
                            @item.FreteInternacional
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            Seguro Internacional:
                        </dt>
                        <dd>
                            @item.SeguroInternaciona
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            Valor Total Cif:
                        </dt>
                        <dd>
                            @item.ValorTotalCif
                        </dd>
                    </div>
             
                </dl>
            </div>
        }

    }

    @if (Model.DCES.Count > 0)
    {

        @foreach (var item in Model.DCES)
        {
            <div class="card mb-3">
                <div class="card-header d-flex justify-content-between">
                    <span class="mt-1">DCE:</span> <div class="justify-content-sm-end d-flex">  <a asp-controller="DCEs" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-outline-dark" >Adicionar DCE</a> </div>
                </div>
                <dl class="card-body row">
                    <div class="col-md-4">
                        <dt>
                            Despesa:
                        </dt>
                        <dd>
                            @ViewBag.despesa
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            Fornecedor:
                        </dt>
                        <dd>
                            @ViewBag.fornecedor
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            Valor:
                        </dt>
                        <dd>
                            @item.Valor
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt>
                            Observação:
                        </dt>
                        <dd>
                            @item.Observacao
                        </dd>
                    </div>
            
                </dl>
            </div>
        }

    }
</div>

<div class="form-group " align="center">
    @* <p>Valor de ViewBag.DCEExists: @ViewBag.DCEExists</p>

    @{
    bool dceExists = ViewBag.DCEExists ?? false;
    if (!dceExists)
    {
    <a asp-controller="DCEs" asp-action="Index" asp-route-id="@Model.Id" class="btn btn" style="width: 100px">Criar DCE</a> |
    @* } else
    {
    <a asp-controller="DCEs" asp-action="Index" asp-route-id="@Model.Id" class="btn btn" style="width: 100px">Editar DCE</a> |
    }
    } *@
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn " style=" background-color: #F08433; color: #FFF; width: 100px">Editar</a> |
    <a asp-action="Index" class="btn btn-dark" style="width: 100px">Voltar</a>
</div>
