@model IEnumerable<kaufer_comex.Models.Processo>

@{
    ViewData["Title"] = "Lista de Processos";
}

@section Estilos {
    <style>
        .btn-exportar-excel {
            background-color: #198754 !important;
            color: white !important;
        }
    </style>

}

<div class="container">
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert" align="center">
            @TempData["MensagemErro"]
        </div>
    }
    <div class="form-group " align="center">
        <h2>Lista de Processos</h2>
    </div>
    <div class="d-flex flex-row-reverse bd-highlight">

        <div class="d-flex justify-content-between">

            <a class="btn" asp-action="ExportProcessosExcel" style="margin-right: 10px"><img src="~/Images/excel.png" style="height: 40px; widht: 20px;" /></a>
            <a asp-action="Create" class="btn d-flex flex-row-reverse bd-highlight " style=" background-color: #F08433; color: #FFF">Adicionar Processo</a>

        </div>
    </div>
    <table id="myTable" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CodProcessoExportacao)
                </th>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.UsuarioId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImportadorId)
                </th>
                @* <th>
                @Html.DisplayNameFor(model => model.Modal)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.Incoterm)
                </th> *@
                <th>
                    @Html.DisplayNameFor(model => model.Destino)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Fronteira)
                </th>
                @*                 <th>
                @Html.DisplayNameFor(model => model.Despachante)
                </th> *@
                <th>
                    @Html.DisplayNameFor(model => model.Vendedor)
                </th>
                @*            <th>
                @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.Proforma)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.DataInicioProcesso)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.PrevisaoProducao)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.PrevisaoPagamento)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.PrevisaoColeta)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.PrevisaoCruze)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.PrevisaoEntrega)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.Observacoes)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.PedidosRelacionados)
                </th>  *@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodProcessoExportacao)
                    </td>
                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario.NomeFuncionario)
                    </td>
                    <td>
                        @ViewBag.importador
                    </td>
                    @*<td>
                @Html.DisplayFor(modelItem => item.Modal)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.Incoterm)
                </td> *@
                    <td>
                        @Html.DisplayFor(modelItem => item.Destino.NomePais)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Fronteira.NomeFronteira)
                    </td>
                    @*                    <td>
                @Html.DisplayFor(modelItem => item.Despachante.NomeDespachante)
                </td> *@
                    <td>
                        @Html.DisplayFor(modelItem => item.Vendedor.NomeVendedor)
                    </td>
                    @*           <td>
                @Html.DisplayFor(modelItem => item.Status.StatusAtual)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.Proforma)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.DataInicioProcesso)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.PrevisaoProducao)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.PrevisaoPagamento)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.PrevisaoColeta)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.PrevisaoCruze)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.PrevisaoEntrega)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.Observacoes)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.PedidosRelacionados)
                </td>  *@
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn"><img src="~/Images/editar.png" id="Edit" style="height:20px;"></a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn"><img src="~/Images/detail.png" id="Details" style="height:20px; "></a> |
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn"><img src="~/Images/excluir.png" id="Details" style="height:20px; "></a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        let table = new DataTable('#myTable',
            {
                language: {
                    emptyTable: 'Nenhum registro encontrado',
                    info: 'Mostrando de _START_ até _END_ de _TOTAL_ registros',
                    infoEmpty: 'Mostrando 0 até 0 de 0 registro(s)',
                    infoFiltered: '(Filtrados de _MAX_ registros)',
                    zeroRecords: 'Nenhum registro encontrado',
                    search: 'Pesquisar',
                    buttons: {
                        pageLength: {
                            _: 'Mostrar %d registros'
                        },
                    },
                },
                buttons: [{
                    extend: 'excelHtml5',
                    text: '<i class="fa-solid fa-file-excel"></i>',
                    filename: 'Processos-Kaufer',
                    title: '',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5]
                    },
                    className: 'btn-exportar-excel',
                },
                    'pageLength'
                ],
                layout: {
                    topStart: 'buttons'
                },
                ordering: false
            });
    </script>

}