@model kaufer_comex.Models.Despachante

@{
	ViewData["Title"] = "Delete";
}

<div>
	<h4>Você tem certeza que deseja excluir o Despachante   @Html.DisplayFor(model => model.NomeDespachante) ?</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.NomeDespachante)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.NomeDespachante)
		</dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contato)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contato)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
	</dl>


	<form asp-action="Delete">
		<input type="hidden" asp-for="Id" />
		<input type="submit" value="Excluir" class="btn " style=" background-color: #82323b; color: #FFF; width: 100px" />
		<a asp-action="Index" class="btn btn-dark" style="width: 100px">Voltar</a>
	</form>
</div>
