@model kaufer_comex.Models.DCE

@{
    ViewData["Title"] = "Cadastrar DCE";
}

<div class="container">
    <br />
    <div class="form-group" align="center">
        <h4>Cadastrar DCE referente ao processo com código de exportação "@ViewData["CodProcessoExportacao"]"</h4>
    </div>
    <hr />
    <form id="createDCEForm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div id="despesasContainer">
            <div class="despesa">
                <div class="row">
                    <input type="hidden" id="ProcessoId" name="ProcessoId" value="@ViewData["ProcessoId"]" />
                    <div class="form-group col-md-4">
                        <label asp-for="CadastroDespesaId" class="control-label"></label>
                        <select id="CadastroDespesaId" name="CadastroDespesaId" class="form-control" asp-items="ViewBag.CadastroDespesaId">
                            <option value="">Selecione a despesa</option>
                        </select>
                        <span asp-validation-for="CadastroDespesaId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="FornecedorServicoId" class="control-label"></label>
                        <select id="FornecedorServicoId" name="FornecedorServicoId" class="form-control" asp-items="ViewBag.FornecedorServicoId">
                            <option value="">Selecione o fornecedor</option>
                        </select>
                        <span asp-validation-for="FornecedorServicoId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="Valor" class="control-label"></label>
                        <input id="Valor" name="Valor" class="form-control" />
                        <span asp-validation-for="Valor" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Observacao" class="control-label"></label>
                        <input id="Observacao" name="Observacao" class="form-control" />
                        <span asp-validation-for="Observacao" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="form-group" align="center">
        <br />
        <p>
            <button type="button" id="addDespesaBtn" class="btn" style="background-color: #F08433; color: #FFF">Adicionar Despesa</button>
        </p>
    </div>

    <!-- Tabela que mostra os itens listados -->
    <div class="row">
        <div class="col-md-12">
            <h5>Lista de despesas a serem cadastradas</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th>Despesa</th>
                        <th>Fornecedor</th>
                        <th>Valor</th>
                        <th>Observacao</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="itensBody">
                    <!-- Lista que vai carregar despesas existentes -->
                    @foreach (var item in ViewBag.DCEsTemp)
                    {
                        <tr data-id="@item.Id">
                            <td>@item.CadastroDespesaNome</td>
                            <td>@item.FornecedorServicoNome</td>
                            <td>@item.Valor</td>
                            <td>@item.Observacao</td>
                            <td>
                                <!-- Botão de exclusão -->
                                <button type="button" class="btn btn-danger btn-excluir-item">Excluir</button>
                            </td>
                        </tr>
                    }
                </tbody>
                <tbody id="itensBody2">
                    <!-- Lista que vai carregar despesas adicionadas -->
                </tbody>
            </table>
            <!-- Campo para Valor Total -->
            <div class="form-row">
                <div class="form-group col-md-6 d-flex align-items-center">
                    <label for="valorTotalDCEs" class="mr-2" style="width: 200px;">Valor Total das Despesas: R$</label>
                    <input type="text" id="valorTotalDCEs" name="valorTotalDCEs" class="form-control" style="width: 80px;" readonly />
                </div>
            </div>


        </div>
    </div>

    <div class="form-group" align="center">
        <br />
        <!-- Botão para cadastrar todos os itens -->
        <button type="button" id="cadastrarItensBtn" class="btn" style="background-color: #F08433; color: #FFF; width: 200px">Salvar as despesas</button>
        <a asp-action="Details" asp-controller="Processos" asp-route-id="@ViewContext.RouteData.Values["id"]" class="btn btn-dark" style="width: 100px">Voltar</a>
    </div>
</div>

@section Scripts {
    <script>
        window.onload = function () {
            var firstInput = document.querySelector("input");
            if (firstInput) {
                firstInput.focus();
            }
        };
    </script>

     <script>
         var listaItens = [];

        $(document).ready(function () {
            // Função para substituir vírgulas por pontos no input e deixa com duas casas decimais
            $('#Valor').on('change', function () {
                var valor = $(this).val();
                if ($.isNumeric(valor)) {
                    $(this).val(parseFloat(valor).toFixed(2));
                }
                if (valor.includes(',')) {
                    valor = valor.replace(',', '.');
                    $(this).val(valor);
                }
            });

            // Função para adicionar despesa na lista e na tabela DCETemp
            $('#addDespesaBtn').click(function () {
                var novoItem = {
                    CadastroDespesaId: $('#CadastroDespesaId').val(),
                    FornecedorServicoId: $('#FornecedorServicoId').val(),
                    Valor: parseFloat($('#Valor').val().replace(',', '.')).toFixed(2),
                    Observacao: $('#Observacao').val(),
                    ProcessoId: $('#ProcessoId').val()
                };

                // Buscar nome da despesa e do fornecedor
                $.ajax({
                    url: '/DCEs/GetDespesaEFornecedorNomes',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(novoItem), // Enviar o objeto novoItem (criado em cima) JSON na solicitação
                    success: function (result) {
                        novoItem.CadastroDespesaNome = result.despesaNome;
                        novoItem.FornecedorServicoNome = result.fornecedorNome;

                        listaItens.push(novoItem);
                        // Limpa os campos depois de adicionar item na lista
                            $('#CadastroDespesaId').val('');
                            $('#FornecedorServicoId').val('');
                            $('#Valor').val('');
                            $('#Observacao').val('');
                        // Atualizar a lsita
                        atualizarLista();
                        atualizarValorTotal();
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });

            // Função para atualizar a lista de itens
            function atualizarLista() {
                var tbody = $('#itensBody2');
                tbody.empty();
                listaItens.forEach(function (item, index) {
                    var valor = item.Valor ? parseFloat(item.Valor).toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) : '0,00';
                    var tr = $('<tr></tr>');
                    tr.append('<td>' + item.CadastroDespesaNome + '</td>');
                    tr.append('<td>' + item.FornecedorServicoNome + '</td>');
                    tr.append('<td>' + valor + '</td>');
                    tr.append('<td>' + item.Observacao + '</td>');
                    tr.append('<td><button type="button" class="btn btn-danger btn-excluir-item2" data-index="' + index + '">Excluir</button></td>');
                    tbody.append(tr);
                });
            }

            function atualizarValorTotal() {
                var total = 0;

                // Soma dos valores dos itens da ViewBag
                var valorItens = parseFloat("@(ViewBag.ValorItens.ToString().Replace(',', '.'))");
                if (!isNaN(valorItens)) {
                    total += valorItens;
                }

                //console.log("ValorItens:", total);

                // Soma dos valores dos itens em listaItens
                listaItens.forEach(function (item) {
                    if (!isNaN(parseFloat(item.Valor))) {
                        total += parseFloat(item.Valor);
                    }
                });

                //console.log("Total antes da exclusão: " + total);

                // Evento de clique para excluir item
                $(document).on('click', '.btn-excluir-item', function () {
                    var row = $(this).closest('tr');
                    var id = row.data('id'); // Obtém o ID do item
                    var valorExcluido = parseFloat(row.find('td:eq(2)').text()); // Obtém o valor do item excluído
                    if (!isNaN(valorExcluido)) { 
                        total -= valorExcluido; 
                    }

                    $.ajax({
                        url: '@Url.Action("ExcluirDespesaTemp", "DCEs")',
                        type: 'POST',
                        data: JSON.stringify({ id: id }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            if (response.success) {
                                row.remove();
                                console.log("Total após a exclusão: " + total);
                                $('#valorTotalDCEs').val(total.toFixed(2));
                                var index = listaItens.findIndex(function (item) {
                                    return item.Id === id;
                                });
                                if (index !== -1) {
                                    listaItens.splice(index, 1);
                                }
                            } else {
                                console.log(response.errors);
                            }
                        },
                        error: function (xhr, status, error) {
                            console.error(error);
                        }
                    });
                });

                console.log("Total final: " + total);

                // Atualizar o valor total na tela
                $('#valorTotalDCEs').val(total.toFixed(2).replace('.', ','));
            }

            // Função para cadastrar todos os itens e salvar em DCE
            $('#cadastrarItensBtn').click(function () {
                // Enviar a lista de itens ao servidor
                $.ajax({
                    url: '/DCEs/CadastrarListaItens',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(listaItens),
                    success: function () {
                        // Remover todos os itens da lista
                        listaItens = [];
                        // Redirecionar após cadastrar os itens
                        var processoId = $('#ProcessoId').val();
                        window.location.href = '/DCEs/Index/' + processoId;
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });

            //Função para excluir um item da lista
            $(document).on('click', '.btn-excluir-item2', function () {
                var index = $(this).data('index');
                listaItens.splice(index, 1); // Remove o item do array
                atualizarLista(); // Atualiza a tabela após a exclusão
                atualizarValorTotal();
            });

            atualizarValorTotal();
        });
    </script>
    }