@model kaufer_comex.Models.DCE

@{
    ViewData["Title"] = "Excluir";
}


<div>
<h4>Você tem certeza que deseja excluir a DCE:  @Html.DisplayFor(model => model.Id) ?</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CadastroDespesaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CadastroDespesaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn " style=" background-color: #82323b; color: #FFF; width: 100px" />
        <a asp-action="Index" class="btn btn-dark" style="width: 100px">Voltar</a>
    </form>
</div>
