@model kaufer_comex.Models.DCE

@{
    ViewData["Title"] = "Detalhes";
}


<div>
    <h3>Detalhes da DCE: @Html.DisplayFor(model => model.Id)</h3>
    <hr />
    <div class="card mb-3">
        <div class="card-header d-flex justify-content-between">
            <span class="mt-1">DCE:</span> <div class="justify-content-sm-end d-flex">  <a asp-controller="DCEs" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-outline-dark">Editar DCE</a> </div>
        </div>
        <dl class="card-body row">
            <div class="col-md-4">
                <dt>
                    Despesa:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CadastroDespesaNome)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    Fornecedor:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FornecedorServicoNome)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    Valor:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Valor)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    Observação:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Observacao)
                </dd>
            </div>
        </dl>

    </div>
    <div class="form-group " align="center">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn " style=" background-color: #F08433; color: #FFF; width: 100px">Editar</a> |
        <a asp-action="Details" asp-controller="Processos" asp-route-id="@Model.ProcessoId" class="btn btn-dark" style="width: 100px">Voltar</a>
    </div>
</div>