@model IEnumerable<kaufer_comex.Models.DCE>

@{
	ViewData["Title"] = "DCE";
}

@section Estilos {
	<style>
		.btn-exportar-excel {
			background-color: #198754 !important;
			color: white !important;
		}
	</style>

}


<div class="form-group " align="center">
	<h2>DCE</h2>
</div>
<div class="d-flex flex-row-reverse bd-highlight">
	<p>
		<a asp-action="Create" asp-route-id="@ViewContext.RouteData.Values["id"]" class="btn d-flex flex-row-reverse bd-highlight " style=" background-color: #F08433; color: #FFF">Adicionar Despesas</a>
	</p>
</div>
<table id="myTable" class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.CadastroDespesaId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FornecedorServicoId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Valor)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Observacao)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				@* <td>
					@foreach (var despesa in item.CadastroDespesas)
					{
						@despesa.NomeDespesa
						<br />
					}
				</td>
				<td>
					@foreach (var fornecedor in item.FornecedorServicos)
					{
						@fornecedor.Nome
						<br />
					}
				</td> *@
				<td>
					@Html.DisplayFor(modelItem => item.CadastroDespesaNome)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.FornecedorServicoNome)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Valor)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Observacao)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id" class="btn"><img src="~/Images/editar.png" id="Edit" style="height:20px;"></a> |
					@* <a asp-action="Details" asp-route-id="@item.Id" class="btn"><img src="~/Images/detail.png" id="Details" style="height:20px; "></a> | *@
					<a asp-action="Delete" asp-route-id="@item.Id" class="btn"><img src="~/Images/excluir.png" id="Details" style="height:20px; "></a>
				</td>
			</tr>
		}
	</tbody>
</table>
	<div class="form-group" align="center">
		<br />
		<!-- Botão para excluir todos os itens -->
	<button type="button" id="excluirTodosItensBtn" data-processo-id="@ViewContext.RouteData.Values["id"]" class="btn btn-danger" style="width: 200px">Excluir Todos os Itens</button>
	<a asp-controller="Processos" asp-action="Details" asp-route-id="@ViewContext.RouteData.Values["id"]" class="btn btn-dark" style="width: 100px">Voltar</a>
	</div>

@section Scripts {
	<script>
		let table = new DataTable('#myTable',
			{
				language: {
					url: '//cdn.datatables.net/plug-ins/2.0.6/i18n/pt-BR.json',
				},
				buttons: [{
					extend: 'excelHtml5',
					text: '<i class="fa-solid fa-file-excel"></i>',
					filename: 'DCEs-Kaufer',
					title: '',
					exportOptions: {
						columns: [0, 1, 2, 3]
					},
					className: 'btn-exportar-excel',
				},
					'pageLength'
				],
				layout: {
					topStart: 'buttons'
				},
				ordering: false
			});

		$(document).ready(function () {
			// Função para excluir todos os itens da lista
			$('#excluirTodosItensBtn').click(function () {
				var processoId = $(this).data('processo-id');

				// Confirmar se o usuário realmente deseja excluir todos os itens
				if (confirm('Tem certeza de que deseja excluir todos os itens relacionados a este processo?')) {
					// Enviar solicitação AJAX para excluir os itens
					$.ajax({
						url: '/DCEs/ExcluirTodosItens',
						type: 'POST',
						data: { id: processoId },
						success: function () {
							// Recarregar a página para atualizar a lista de itens
							location.reload();
						},
						error: function (xhr, status, error) {
							console.error(xhr.responseText);
						}
					});
				}
			});
		});
	</script>

}