@model kaufer_comex.Models.Veiculo

@{
    ViewData["Title"] = "Deletar Veículo";
}


<div>
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert" align="center">
            @TempData["MensagemErro"]
        </div>
    }
    <h4>Você tem certeza que deseja excluir o Veículo? </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Placa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Placa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Motorista)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Motorista)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn " style=" background-color: #82323b; color: #FFF; width: 100px" />
        <a asp-action="Index" class="btn btn-dark" style="width: 100px">Voltar</a>
    </form>
</div>