@model IEnumerable<kaufer_comex.Models.Veiculo>

@{
    ViewData["Title"] = "Veículos";
}

@section Estilos {
    <style>
        .btn-exportar-excel {
            background-color: #198754 !important;
            color: white !important;
        }
    </style>

}


<div class="container">
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert" align="center">
            @TempData["MensagemErro"]
        </div>
    }
    <div class="row">
        <a asp-action="Index" asp-controller="Processos" class="btn" style="width: 100px"><img src="~/Images/voltar.png" style="height:20px; width:20px"></a>
        <div align="center">
            <h4>Lista de Veículos:</h4>
        </div>
    </div>
    <table id="myTable" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Placa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Motorista)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProcessoId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Placa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Motorista)
                    </td>
                     <td>
                        @Html.DisplayFor(modelItem => item.ProcessoId)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn"><img src="~/Images/editar.png" id="Edit" style="height:20px;"></a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn"><img src="~/Images/detail.png" id="Details" style="height:20px; "></a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn"><img src="~/Images/excluir.png" id="Details" style="height:20px; "></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        let table = new DataTable('#myTable',
            {
                language: {
                    emptyTable: 'Nenhum registro encontrado',
                    info: 'Mostrando de _START_ até _END_ de _TOTAL_ registros',
                    infoEmpty: 'Mostrando 0 até 0 de 0 registro(s)',
                    infoFiltered: '(Filtrados de _MAX_ registros)',
                    zeroRecords: 'Nenhum registro encontrado',
                    search: 'Pesquisar',
                    buttons: {
                        pageLength: {
                            _: 'Mostrar %d registros'
                        },
                    },
                },
                buttons: [{
                    extend: 'excelHtml5',
                    text: '<i class="fa-solid fa-file-excel"></i>',
                    filename: 'Veiculos-Kaufer',
                    title: '',
                    exportOptions: {
                        columns: [0, 1, 2]
                    },
                    className: 'btn-exportar-excel',
                },
                    'pageLength'
                ],
                layout: {
                    topStart: 'buttons'
                },
                ordering: false
            });
    </script>

}
