@model kaufer_comex.Models.FornecedorServico

@{
	ViewData["Title"] = "Detalhes";
}
@if (TempData["MensagemErro"] != null)
{
	<div class="alert alert-danger" role="alert" align="center">
		@TempData["MensagemErro"]
	</div>
}

	<h3>Detalhes do fornecedor de serviços "@Html.DisplayFor(model => model.Nome)"</h3>
	<hr />
	<div class="card mb-3">
		<div class="card-header d-flex justify-content-between">
			<span class="mt-1"><strong>FORNECEDOR</strong> </span>
			<div class="justify-content-sm-end d-flex m-0">
			<a asp-action="Edit" asp-route-id="@Model.Id" class="btn" style=" background-color: #F08433; color: #FFF; margin-right: 10px">Editar</a>
				<a asp-action="Index" class="btn btn-outline-dark">Voltar</a>
			</div>
		</div>
	<dl class="card-body row">
		<div class="col-md-4">
		<dt>
			@Html.DisplayNameFor(model => model.Nome)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Nome)
		</dd>
		</div>
		<div class="col-md-4">
		<dt>
			@Html.DisplayNameFor(model => model.TipoServico)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.TipoServico)
		</dd>
		</div>
	</dl>
</div>
