@model IEnumerable<kaufer_comex.Models.FornecedorServico>

@{
	ViewData["Title"] = "Lista de fornecedores de serviço";
}

@section Estilos {
	<style>
		.btn-exportar-excel {
			background-color: #198754 !important;
			color: white !important;
		}
	</style>

}
@if (TempData["MensagemErro"] != null)
{
	<div class="alert alert-danger" role="alert" align="center">
		@TempData["MensagemErro"]
	</div>
}
<div class="form-group " align="center">
	<h2>Lista de fornecedores de serviço</h2>
</div>
<div class="d-flex flex-row-reverse bd-highlight">
	<p>
		<a asp-action="Create" class="btn d-flex flex-row-reverse bd-highlight " style=" background-color: #F08433; color: #FFF">Adicionar fornecedor de serviço</a>
	</p>
</div>
<table id="myTable" class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Nome)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TipoServico)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Nome)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.TipoServico)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id" class="btn"><img src="~/Images/editar.png" id="Edit" style="height:20px;"></a> |
					<a asp-action="Details" asp-route-id="@item.Id" class="btn"><img src="~/Images/detail.png" id="Details" style="height:20px; "></a> |
					@if (User.IsInRole("Admin"))
						{
							<a asp-action="Delete" asp-route-id="@item.Id" class="btn"><img src="~/Images/excluir.png" id="Details" style="height:20px; "></a>
						}
				</td>
			</tr>
		}
	</tbody>
</table>

@section Scripts {
	<script>
		let table = new DataTable('#myTable',
			{
				language: {
					emptyTable: 'Nenhum registro encontrado',
					info: 'Mostrando de _START_ até _END_ de _TOTAL_ registros',
					infoEmpty: 'Mostrando 0 até 0 de 0 registro(s)',
					infoFiltered: '(Filtrados de _MAX_ registros)',
					zeroRecords: 'Nenhum registro encontrado',
					search: 'Pesquisar',
					buttons: {
						pageLength: {
							_: 'Mostrar %d registros'
						},
					},
				},
				buttons: [{
					extend: 'excelHtml5',
					text: '<i class="fa-solid fa-file-excel"></i>',
					filename: 'Fornecedores de Serviços-Kaufer',
					title: '',
					exportOptions: {
						columns: [0, 1]
					},
					className: 'btn-exportar-excel',
				},
					'pageLength'
				],
				layout: {
					topStart: 'buttons'
				},
				ordering: false
			});
	</script>

}