@model kaufer_comex.Models.AgenteDeCarga

@{
	ViewData["Title"] = "Delete";
}
@if (TempData["MensagemErro"] != null)
{
	<div class="alert alert-danger" role="alert" align="center">
		@TempData["MensagemErro"]
	</div>
}
<div>
	<h4>Você tem certeza que deseja excluir o Agente de Carga:  @Html.DisplayFor(model => model.NomeAgenteCarga) ?</h4>
	<hr />
	<div class="card mb-3">
		<div class="card-header  d-flex justify-content-between">
			<span class="mt-1"><strong>AGENTE DE CARGA :</strong></span>
			<div class="justify-content-sm-end d-flex m-0">
				<form asp-action="Delete">
					<input type="hidden" asp-for="Id" />
					<input type="submit" value="Excluir" class="btn " style=" background-color: #82323b; color: #FFF; width: 100px" />
					<a asp-action="Index" class="btn btn-dark" style="width: 100px">Voltar</a>
				</form>
			</div>
		</div>
		<dl class="card-body row">
			<div class="col-md-4">
				<dt>
					@Html.DisplayNameFor(model => model.NomeAgenteCarga)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.NomeAgenteCarga)
				</dd>
			</div>
			<div class="col-md-4">
				<dt>
					@Html.DisplayNameFor(model => model.Contato)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.Contato)
				</dd>
			</div>
			<div class="col-md-4">
				<dt>
					@Html.DisplayNameFor(model => model.Email)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.Email)
				</dd>
			</div>
			<div class="col-md-4">
				<dt>
					@Html.DisplayNameFor(model => model.Telefone)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.Telefone)
				</dd>
			</div>
		</dl>
	</div>
</div>
